.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.styled {
    backdrop-filter: blur(2px) saturate(110%);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(8, 13, 91, 0.2),
        inset 0 8px 16px rgba(232, 230, 237, 0.3);
}

.styled::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.133);
    border-radius: 1rem;
    box-shadow: inset -12px -4px 0px -10px rgba(255, 255, 255, 0.5),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 0.5);
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(150%);
    z-index: -1;
}

.stretched {
    padding: 0.5em;
    flex-grow: 1;
}

.name-of-project{
    min-height: 2em;
    max-height: 2em;
}

.place-holder {
    min-height: 10em;
}