.button {
    padding: 0.2rem;
    flex-shrink: 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button img {
    width: 100%;
    height: 100%;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
}