.picture {
    flex-shrink: 1;
    min-width: 10rem;
    max-width: 12rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(8, 13, 91, 0.2),
        inset 0 8px 16px rgba(232, 230, 237, 0.3);
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    clip-path: inset(0 round 1rem);
}