.picture {
    flex-shrink: 1;
    min-width: 10rem;
    max-width: 12rem;
    width: 100%;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    clip-path: inset(0 round 1rem);
}