.social-button {
    width: 2em;
    height: 2em;
    display: flex;
    align-self: center;
    justify-self: center;
    transition: transform 0.2s ease, drop-shadow 0.2s ease;
    filter: drop-shadow(0 3px 6px rgba(0,0,0,0.25));
}

.social-button img {
    width: 100%;
    height: 100%;
}

.social-button:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 3px 6px rgba(0,0,0,0.5));
}