.toggle {
    width: 2.5em;
    height: 5em;
    position: relative;
}

.toggle-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-vertical img {
    width: 100%;
    height: 50%;
}

.toggle-box {
    position: absolute;
    height: 50%;
    width: 100%;
    transition: top 0.3s;
}

.toggle-box.light {
    top: 0px;
}

.toggle-box.dark {
    top: 50%;
}