.toggle {
    width: 2.5em;
    height: 5em;
    position: relative;
}

.toggle-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.toggle-box {
    position: absolute;
    height: 50%;
    width: 100%;
    backdrop-filter: saturate(100%);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(8, 13, 91, 0.2),
        inset 0 8px 16px rgba(232, 230, 237, 0.3);
    transition: top 0.3s;
}

.toggle-box.light {
    top: 0px;
}

.toggle-box.dark {
    top: 50%;
}