#root {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.horizontal-small-gap-container {
  display: flex;
  gap: 10px;
}