:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
  :root {
    font-size: small;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: x-large;
  }
}

[data-theme="light"] {
  --background-color: #ec9bc1;
  --color: #3a2356;
  --highlight-color: #2a0769;
}

[data-theme="dark"] {
  --background-color: #1c0d38;
  --color: #f3ecf7;
  --highlight-color: #efacd9;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  transition: background-color 0.4s;
  margin: 0 auto;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

a {
  height: 2em;
  color: inherit;
  text-decoration: none;
  font: inherit;
}

.highlight {
  color: var(--highlight-color);
  font-weight: 600;
}