:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: x-large;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --background-color: #ec9bc1;
  --color: #3a2356;
  --highlight-color: #2a0769;
}

[data-theme="dark"] {
  --background-color: #312238;
  --color: #f3ecf7;
  --highlight-color: #fafae5;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  transition: background-color 0.4s;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  flex-shrink: 1;
  padding: 0;
  width: 50px;
  height: 50px;
}

.highlight {
  color: var(--highlight-color);
  font-weight: 600;
}