.square {
    width: min(14vw, 9vh, 70px);
    aspect-ratio: 1;

    margin: 0.1em;

    font-size: min(6vw, 6vh, 24px);
    font-weight: bold;

    text-transform: uppercase;
    text-align: center;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-8px); }
  40% { transform: translateX(8px); }
  60% { transform: translateX(-8px); }
  80% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}

.green {
    background-color: #1b8539;
    color: #fffafa;
    border: 2px solid #1b8539;
}
.yellow {
    background-color: #997e11;
    color: #fffafa;
    border: 2px solid #997e11;
}
.gray {
    background-color: #3b3b3b;
    color: #fffafa;
    border: 2px solid #3b3b3b;
}

.empty {
    background-color: transparent;
    color: var(--game-color);
    border: 2px solid;
    border-color: var(--game-border);
}