
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin: 15px auto 0;
  width: min(90vw, 500px);
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.keyboard button {
  flex: 1;
  min-width: 0;

  height: min(9vh, 60px);

  border: none;
  border-radius: 4px;

  background-color: #9a9a9a;
  color: #111;

  font-size: min(2.5vw, 16px);
  font-weight: 700;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0;
  user-select: none;

  transition: transform 0.05s, background-color 0.15s;
}

.keyboard button:hover {
  background-color: #bbb;
}

.keyboard button:active {
  transform: scale(0.92);
}

.keyboard button.special {
  flex: 1.5;
}

.keyboard button.green {
  background-color: #1b8539;
  color: #fffafa;
  border: 2px solid #1b8539;
}

.keyboard button.yellow {
  background-color: #997e11;
  color: #fffafa;
  border: 2px solid #997e11;
}

.keyboard button.gray {
  background-color: #3b3b3b;
  color: #fffafa;
  border: 2px solid #3b3b3b;
}

@media (max-width: 500px) {
    .keyboard {
        width: 90vw;
        gap: 3px;
    }

    .keyboard-row {
        gap: 3px;
    }

    .keyboard button {
        height: 56px;
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .keyboard button {
        height: 44px;
        font-size: 11px;
    }

    .keyboard-row {
        gap: 2px;
    }
}